---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<!-- {% include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %}-->
As Teaching Assistant I proposed and solved exercises for the following courses:
<ul>
<li> <a href="http://didattica.unibocconi.eu/ts/tsn_anteprima.php?cod_ins=20179&anno=2019&IdPag=6165"> <b> Data Analysis 20179 </b></a>(Autumn 2018). Master course at Bocconi University, Milan.
<li> <a href="http://didattica.unibocconi.eu/ts/tsn_anteprima2006.php?cod_ins=30401&anno=2018&IdPag=6067"> <b> Mathematics and Statistics 30401 </b></a>(Spring 2018). Bachelor course at Bocconi University, Milan.
<li> <a href="http://didattica.unibocconi.it/ts/tsn_anteprima2006.php?cod_ins=20179&anno=2018&IdPag=6066"> <b> Data Analysis 20179 </b></a>(Autumn 2017). Master course at Bocconi University, Milan.
</ul>
