---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


As Teaching Assistant I proposed and solved exercises for the following courses:

<!-- {% include base_path %}-->

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<!-- * **Data Analysis**  ([Autumn 2018](http://didattica.unibocconi.eu/ts/tsn_anteprima.php?cod_ins=20179&anno=2019&IdPag=6165, [Autumn 2017](http://didattica.unibocconi.it/ts/tsn_anteprima2006.php?cod_ins=20179&anno=2018&IdPag=6066)
	Master course 20179 at Bocconi University, Milan.
* **Mathematics and Statistics** ([Spring 2018](http://didattica.unibocconi.eu/ts/tsn_anteprima2006.php?cod_ins=30401&anno=2018&IdPag=6067) 
	Bachelor course 30401  at Bocconi University, Milan. --->
